html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
}
nav {
    width: 100%;
    height: 80px;
    z-index: 999;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 4px 0 1px #000322;
    .logo {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
        h1 {
            color: white;
            font-style: normal;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                sans-serif;
            color: #000322;
        }
    }
    .searchbox{
        width: 55%;
        height: 40px;
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        align-items: center;
        background: white;
        box-shadow: 0 0 2px #000322;
        overflow: hidden;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        #searchbox{
            width: 100%;
            height: 100%;
            padding: 0 15px;
            color: #000322;
            outline: none;
            border: none;
            margin-block-end: 2px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 100;
        }
        ion-icon{
            width: 60px;
            color: #000322;
            font-size: 1.4em;
        }
    }
    .navbar {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        color: white;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            li {
                list-style: none;
                transition: all 0.4s ease-in-out;
                -webkit-transition: all 0.4s ease-in-out;
                -moz-transition: all 0.4s ease-in-out;
                -ms-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
            }
            li:hover{
                transform: translateY(-2px);
                -webkit-transform: translateY(-2px);
                -moz-transform: translateY(-2px);
                -ms-transform: translateY(-2px);
                -o-transform: translateY(-2px);
            }
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                background: white;
                padding: 10px 10px;
                text-decoration: none;
                font-size: 1.5em;
                color: #000322;
                border-radius: 25px;
                transition: all 0.4s ease-in-out;
                -webkit-transition: all 0.4s ease-in-out;
                -moz-transition: all 0.4s ease-in-out;
                -ms-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
            }
            a:hover {
                background: #000322;
                color: white;
                box-shadow: 0 0 5px white;
            }
        }
    }
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    height: 100%;
    .banner-content{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        .slider{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 30px;
            width: 100%;
            height: 400px;
            padding: 20px 0;
            overflow: hidden;
            .banner{
                width: 600px;
                height: 300px;
                border-radius: 20px;
                box-shadow: 4px 4px 1px #c4c7e7;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
            }
            .banner.active{
                width: 800px;
                height: 400px;
            }
            .btn-slider{
                width: 100%;
                display: flex;
                flex-direction: row;
                position: absolute;
                span{
                    width: 50%;
                    opacity: 0.7;
                    font-size: 3em;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    -ms-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;
                }
                span:hover{
                    opacity: 1;
                }
                .left{
                    text-align: left;
                    margin-left: 30px;
                }
                .right{
                    text-align: right;
                    margin-right: 30px;
                }
            }
        }
        .slider-indicator{
            max-width: 100%;
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .dot{
                width: 15px;
                height: 15px;
                border-radius: 7.5px;
                box-shadow: 0 0 3px #000322;
                -webkit-border-radius: 7.5px;
                -moz-border-radius: 7.5px;
                -ms-border-radius: 7.5px;
                -o-border-radius: 7.5px;
            }
            .dot.active{
                width: 30px;
                background: #000322;
            }
        }
    }
    .category{
        width: 80%;
        height: 150px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        border-radius: 10px;
        box-shadow: 0 0 5px #c4c4c4;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        h1{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 700;
            font-size: 24px;
            margin-left: 10px;
            margin-bottom: 10px;
        }
        .box{
            display: flex;
            max-width: 100%;
            height: 100px;
            flex-direction: row;
            padding: 5px;
            position: relative;
            overflow-x: auto;
            .box-category{
                min-width: 200px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 5px #c4c4c4;
                border-radius: 10px;
                margin-right: 30px;
                transition: all .4s ease-in-out;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                -webkit-transition: all .4s ease-in-out;
                -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                -o-transition: all .4s ease-in-out;
                a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-size: 20px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    gap: 10px;
                    color: #000322;
                }
            }
        }
        .box::-webkit-scrollbar{
            display: none;
        }
        .box-category:hover{
            background: #000322;
            a{
                color: white;
            }
        }
    }
    .recent-view{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 5px #c4c4c4;
        margin-bottom: 30px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        h1{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 700;
            font-size: 24px;
            margin-left: 10px;
            margin-bottom: 10px;
        }
        .card-view{
            max-width: 100%;
            display: flex;
            flex-direction: row;
            overflow-x: auto;
            padding: 10px;
            gap: 20px;
            .card{
                min-width: 150px;
                padding: 10px;
                height: 100%;
                border-radius: 10px;
                box-shadow: 0 0 5px #c4c4c4;
                img{
                    width: 100%;
                }
                h2{
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    margin-bottom: 10px;
                }
                p{
                    font-size: .8em;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    margin-bottom: 10px;
                }
                button{
                    width: 100px;
                    height: 30px;
                    background: #000322;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all .5s ease-in-out;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    -webkit-transition: all .5s ease-in-out;
                    -moz-transition: all .5s ease-in-out;
                    -ms-transition: all .5s ease-in-out;
                    -o-transition: all .5s ease-in-out;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
                button:hover{
                    background: white;
                    box-shadow: 0 0 5px #c4c4c4;
                    a{
                        color: #000322;
                    }
                }
            }
        }
        .card-view::-webkit-scrollbar{
            display: none;
        }
}
}
footer{
    padding: 50px;
    max-width: 100%;
    height: 250px;
    background: #000322;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .list-footer{
        display: flex;
        flex-direction: row;
        margin: 18px 20px;
        gap: 20px;
        .list-text{
            color: white;
            ul{
                margin-bottom: 10px;
                li{
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    list-style: none;
                    h1{
                        font-size: 18px;
                    }
                    h2{
                        font-size: 16px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
    .adds{
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 200px;
        }
        .apps-store{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            button{
                width: 120px;
                height: 35px;
                margin-bottom: 30px;
                border-radius: 5px;
                border: none;
                background: white;
                box-shadow: 0 0 5px white;
                color: #000322;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 700;
                transition: all .3s ease-in-out;
                cursor: pointer;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -ms-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
        }
            button:hover{
                transform: translateY(-10px);
                -webkit-transform: translateY(-10px);
                -moz-transform: translateY(-10px);
                -ms-transform: translateY(-10px);
                -o-transform: translateY(-10px);
}
        }
        h2{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            font-size: 12px;
            font-weight: 300;
        }
    }
}
