html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
}
nav {
    width: 100%;
    height: 80px;
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: white;
    box-shadow: 4px 0 1px #000322;
    .logo {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
        h1 {
            color: white;
            font-style: normal;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                sans-serif;
            color: #000322;
        }
    }
    .searchbox {
        width: 55%;
        height: 40px;
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        align-items: center;
        background: white;
        box-shadow: 0 0 2px #000322;
        overflow: hidden;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        #searchbox {
            width: 100%;
            height: 100%;
            padding: 0 15px;
            color: #000322;
            outline: none;
            border: none;
            margin-block-end: 2px;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 100;
        }
        ion-icon {
            width: 60px;
            color: #000322;
            font-size: 1.4em;
        }
    }
    .navbar {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        color: white;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            li {
                list-style: none;
                transition: all 0.4s ease-in-out;
                -webkit-transition: all 0.4s ease-in-out;
                -moz-transition: all 0.4s ease-in-out;
                -ms-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
            }
            li:hover {
                transform: translateY(-2px);
                -webkit-transform: translateY(-2px);
                -moz-transform: translateY(-2px);
                -ms-transform: translateY(-2px);
                -o-transform: translateY(-2px);
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                background: white;
                padding: 10px 10px;
                text-decoration: none;
                font-size: 1.5em;
                color: #000322;
                border-radius: 25px;
                transition: all 0.4s ease-in-out;
                -webkit-transition: all 0.4s ease-in-out;
                -moz-transition: all 0.4s ease-in-out;
                -ms-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
            }
            a:hover {
                background: #000322;
                color: white;
                box-shadow: 0 0 5px white;
            }
        }
    }
}
.container {
    max-width: 100%;

    height: auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 100px 20px 20px 20px;
    .side-panel {
        width: 18%;
        position: relative;
        height: 100%;
        h1 {
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        .filter {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 5px #c4c4c4c4;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            .category {
                display: flex;
                flex-direction: column;
                padding: 15px;
                background: white;
                box-shadow: 0 0 2px #c4c4c4c4;
                .division {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 15px;
                    h2 {
                        width: 100%;
                    }
                    ion-icon {
                        padding: 4px 5px;
                        border-radius: 15px;
                        font-size: 1.2em;
                        transition: all 0.3s ease-in-out;
                        -webkit-border-radius: 15px;
                        -moz-border-radius: 15px;
                        -ms-border-radius: 15px;
                        -o-border-radius: 15px;
                        -webkit-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -ms-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                    }
                    ion-icon:hover {
                        background: #c4c4c4c4;
                    }
                }
                .sub-division {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 30px;
                    gap: 10px;
                }
                .sub-division-horizontal {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .sub-sub-division {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    margin-left: 20px;
                }
                .items-sub-division {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 10px;
                }
                .input-sub-division {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 15px;
                    border: 1px solid rgb(180, 180, 180);
                    overflow: hidden;
                    border-radius: 7px;
                    -webkit-border-radius: 7px;
                    -moz-border-radius: 7px;
                    -ms-border-radius: 7px;
                    -o-border-radius: 7px;
                    label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 35px;
                        background: rgb(221, 221, 221);
                        border: 2px solid rgb(221, 221, 221);
                        h3 {
                            font-family: "Segoe UI", Tahoma, Geneva, Verdana,
                                sans-serif;
                            font-weight: 700;
                            color: #434343c4;
                        }
                    }
                    input {
                        width: 100%;
                        height: 35px;
                        border: none;
                        padding: 0 5px;
                    }
                    input:focus {
                        outline: none;
                    }
                    input::placeholder {
                        text-align: center;
                    }
                }
                .price-sub-division {
                    width: 100%;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid rgb(180, 180, 180);
                    border-radius: 10px;
                    margin-bottom: 15px;
                    cursor: pointer;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                }
                .popup {
                    cursor: pointer;
                    color: #000322;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                h2 {
                    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 18px;
                }
                h3 {
                    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                }
            }
        }
    }
    .main-content {
        width: 82%;
        display: flex;
        flex-direction: column;
        .sort{
            display: flex;
            flex-direction: row;
            margin-bottom: 15px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            h2{
                width: 50%;
                font-size: 24px;
                font-weight: 600;
            }
            .sort-btn{
                width: 45%;
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: right;
                select{
                    padding: 5px;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
}
            }
        }
        .card-view{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 15px;
            .card{
                width: 15%;
                height: 350px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 15px;
                box-shadow: 0 0 5px #c4c4c4c4;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                img{
                    width: 100%;
                }
                p,h3{
                    font-size: 14px;
                }
                h4{
                    font-size: 12px;
                }
                .rating{
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    gap: 5px;
                }
            }
        }
    }
}
footer {
    padding: 50px;
    max-width: 100%;
    height: 250px;
    background: #000322;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .list-footer {
        display: flex;
        flex-direction: row;
        margin: 18px 20px;
        gap: 20px;
        .list-text {
            color: white;
            ul {
                margin-bottom: 10px;
                li {
                    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                    list-style: none;
                    h1 {
                        font-size: 18px;
                    }
                    h2 {
                        font-size: 16px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
    .adds {
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 200px;
        }
        .apps-store {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            button {
                width: 120px;
                height: 35px;
                margin-bottom: 30px;
                border-radius: 5px;
                border: none;
                background: white;
                box-shadow: 0 0 5px white;
                color: #000322;
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 700;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
            }
            button:hover {
                transform: translateY(-10px);
                -webkit-transform: translateY(-10px);
                -moz-transform: translateY(-10px);
                -ms-transform: translateY(-10px);
                -o-transform: translateY(-10px);
            }
        }
        h2 {
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            font-size: 12px;
            font-weight: 300;
        }
    }
}
